# Docker / compose
STATE_ELEVATOR_IMAGE_NAME=state-elevator:local
STATE_ELEVATOR_CONTAINER_NAME=state-elevator
STATE_ELEVATOR_DOTNET_ENVIRONMENT=Production

# RabbitMQ
STATE_ELEVATOR_RABBITMQ_HOST=broker
STATE_ELEVATOR_RABBITMQ_PORT=5672
STATE_ELEVATOR_RABBITMQ_USERNAME=admin
STATE_ELEVATOR_RABBITMQ_PASSWORD=CHANGE_ME_RABBITMQ_PASSWORD
STATE_ELEVATOR_SERVER_EVENTS_EXCHANGE=serverEventsExchange
STATE_ELEVATOR_PING_EVENTS_EXCHANGE=pingEventsExchange
STATE_ELEVATOR_STATUS_EVENTS_EXCHANGE=statusEventsExchange
STATE_ELEVATOR_SERVER_EVENTS_QUEUE=q.state-elevator.server-events
STATE_ELEVATOR_PING_EVENTS_QUEUE=q.state-elevator.ping-events
STATE_ELEVATOR_STATUS_CHANGED_ROUTING_KEY=server.status.changed

# Redis
STATE_ELEVATOR_REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
STATE_ELEVATOR_REDIS_KEY_PREFIX=state-elevator
